#simple-error-pages-settings-wrapper {
	background: #ffffff;
	box-sizing: border-box;
	padding: 0;
	position: fixed;
	width: calc(100% - 160px);
	top: 32px;
	z-index: 1001;
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.simple-error-pages-settings {
	display: flex;
	align-items: center;
	min-height: 60px;
	align-items: center;
	padding: 0 0 0 40px;
	flex: 1 auto;
	height: 60px;
	font-weight: 600;
	font-size: 14px;
}

#wpbody {
	position: relative;
	padding-top: 60px;
	padding-left: 20px;
}

#wpcontent {
	padding-left: 0;
}

.wrap .wp-heading-inline,
.wrap .page-title-action {
	display: none !important;
}

.wp-heading-inline {
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	padding: 9px 0 4px;
	line-height: 1.3;
	margin-right: 5px;
}

.settings-area button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #fff;
	width: 100%;
	height: 60px;
	color: #757575;
	white-space: nowrap;
	padding: 0px 20px;
}

.settings-area button:hover {
	background-color: #f0f0f0;
	border-radius: 4px;
}

.subsubsub {
	margin-top: 0;
}

#simple-error-pages-options-wrapper {
	top: 95px;
	background: #fff;
	min-width: 300px;
	position: fixed;
	z-index: 999;
	right: 0;
	padding: 15px;
	min-height: 100%;
	transition: 0.9s;
	max-width: 350px;
	border-left: 1px solid #c3c4c7;
}
.wp-core-ui #simple-error-pages-options-wrapper select {
	max-width: 150px;
}
#simple-error-pages-options-wrapper .form-table th:empty,
#simple-error-pages-options-wrapper .form-table td:empty {
	display: none;
}
